body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);

    /*háttérkép formázása*/
    background-image: url('https://img.freepik.com/premium-vector/female-presentation-school-presentation-oneline-drawing_718518-5853.jpg?w=2000');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -400px -50px;
}


.login-panel {
    /*bejelentkezési panel formázása*/
    width: 320px;
    height: 420px;
    background: white;
    color: black;
    top: 55%;
    left: 53%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

/*bejelentkezés panel szövege (családnév, keresztnév, jelszó)*/
.login-panel p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-panel input{
    width: 100%;
    margin-bottom: 10px;
}

/*családnév, keresztnév és jelszó sáv szerkesztése*/
.login-panel input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    background: transparent;
    outline: none;
    color: black;
    font-size: 16px;
}

/*bejelentkezés gomb szerkesztése*/
.login-panel input[type="submit"]
{
    height: 30px;
    background: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
}


/* bejelentkezés gomb vibrálása*/
.login-panel input:hover[type="submit"]
{
    cursor: pointer;
    background: green;
    color: white;
}

.help-button{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
    position: fixed;
    bottom: 8px;
    right: 16px;

}

.help-button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
